:root {
  --header-height: 3.5rem;

  /* COLORS */

  --white-color: #fff;

  --primary: #6ea48f;
  --primary-hover: #82b9a2;
  --primary-disabled: #a7c7bb;
  --secondary: #c16766;
  --secondary-hover: #db8c8b;
  --on-surface: #535353;
  --blur-color: rgba(255, 255, 255, 0.95);
  --blur-color-variant: rgba(255, 255, 255, 0.45);

  --footer-color: #363636;

  --btn-gradient: linear-gradient(90deg, #3bad83 0%, #1d7f63 100%);

  --first-card: #33c28b;
  --second-card: #eb4598;
  --third-card: #a09dd3;
  --fourth-card: #474747;

  --header-alternative: #87c0aa;

  /* FONT */

  --primary-font: 'Lato', sans-serif;

  --big-font-size: clamp(2.25rem, 4vw + 1rem, 3.5rem);
  --h1-font-size: clamp(1.5rem, 2.5vw + 1rem, 2.25rem);
  --h2-font-size: clamp(1.25rem, 1.5vw + 1rem, 1.8rem);
  --h3-font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
  --normal-font-size: clamp(0.938rem, 0.7vw + 0.5rem, 1.2rem);
  --small-font-size: clamp(0.813rem, 0.6vw + 0.4rem, 0.875rem);

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Z-INDEX */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* SHADOW */
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* CARDS */

  --stacked-card-count: 4;
  --stacked-card-height: 25vh;
  --card-offset-top-inside: 1.5em;
  /* --card-stack-overlap-gap: 6vw; */
  --card-stack-overlap-gap: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
  /* overflow-y: auto; */
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

body {
  font-family: var(--primary-font);
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HELPER CLASSES */

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.section {
  margin-bottom: 3rem;
}

.title {
  font-size: var(--h2-font-size);
  color: var(--primary);
  font-weight: var(--font-semi-bold);
  text-align: center;
}
.subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--on-surface);
  text-align: center;
}

/* HEADER & NAV*/

.main {
  width: 100%;
}

.nav__logo-img {
  width: 100px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  box-shadow: var(--shadow);
  transition: background-color 0.3s;
}

/* CHANCGE BACKGROUND HEADER */

/* .bg-header {
  background: var(--btn-gradient);
} */

/* NAV */

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #333; */
}

/* NAV ICON ANIMATION */

.nav__toggle {
  position: relative;
  width: 42px;
  height: 32px;
  cursor: pointer;
  transform: scale(0.8);
}

.nav__toggle span {
  position: absolute;
  width: 50%;
  height: 6px;
  background-color: var(--secondary);
  transition: all 0.2s ease-in-out;
}

.nav__toggle span:nth-child(odd) {
  left: 0;
  border-radius: 9px 0 0 9px;
}

.nav__toggle span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.nav__toggle span:nth-child(1),
.nav__toggle span:nth-child(2) {
  top: 0;
}

.nav__toggle span:nth-child(3),
.nav__toggle span:nth-child(4) {
  top: 13px;
}

.nav__toggle span:nth-child(5),
.nav__toggle span:nth-child(6) {
  top: 26px;
}

.nav__open .nav__toggle span:nth-child(1),
.nav__open .nav__toggle span:nth-child(6) {
  transform: rotate(45deg);
}

.nav__open .nav__toggle span:nth-child(2),
.nav__open .nav__toggle span:nth-child(5) {
  transform: rotate(-45deg);
}

.nav__open .nav__toggle span:nth-child(1) {
  top: 8px;
  left: 5px;
}

.nav__open .nav__toggle span:nth-child(2) {
  top: 8px;
  left: calc(50% - 5px);
}

.nav__open .nav__toggle span:nth-child(3) {
  left: -100%;
  opacity: 0;
}

.nav__open .nav__toggle span:nth-child(4) {
  left: 150%;
  opacity: 0;
}

.nav__open .nav__toggle span:nth-child(5) {
  top: 19px;
  left: 5px;
}

.nav__open .nav__toggle span:nth-child(6) {
  top: 19px;
  left: calc(50% - 5px);
}

/* MOBILE MENU */

@media (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--blur-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    padding-block: 2rem;
    width: 75%;
    border-top: 3px solid var(--secondary);
    box-shadow: var(--shadow);
    transition: top 0.3s;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: var(--secondary);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav__link::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--secondary);
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.nav__link:hover::after {
  width: 70%;
}

.nav__link:hover {
  color: var(--secondary-hover);
}

/* SHOW MENU */

.show-menu {
  top: var(--header-height);
}

/* MAIN */

.hero {
  /* background-image: linear-gradient(
      130deg,
      rgba(255, 255, 255, 0.65) 25%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../images/3d-rendering-blockchain-technology.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  position: relative;
  overflow: hidden;
  height: 50svh;
  height: 50vh;
  display: grid;
  place-items: center;
}

.hero__figure {
  position: absolute;
  inset: 0;
  margin: 0;
  z-index: 0;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  min-height: 700px;
}

@media (min-width:768px) {
  .hero__img {
    min-height: 900px;
  }
}

.hero__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
  min-height: 400px;
}

.hero__content {
  padding-block: 4rem;
  background-color: var(--blur-color-variant);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 1rem 1.5rem;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  max-width: 600px;
  min-width: 250px;
  margin-top: 1.5rem;
  z-index: 2;
}

.hero__title,
.hero__subtitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hero__title {
  text-align: center;
  color: var(--on-surface);
  line-height: 1.3;
  font-size: var(--h2-font-size);
}

.title span {
  color: var(--secondary);
  font-weight: var(--font-bold);
}

.title span sup {
  font-weight: var(--font-semi-bold);
  font-size: 1.5rem;
}

.hero__subtitle {
  text-align: center;
  font-size: var(--h3-font-size);
  color: var(--on-surface);
  line-height: 1.5;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--white-color);
  background: var(--btn-gradient);
  text-align: center;
  width: max-content;
  margin-top: 0.8rem;
  border-radius: 5px;
  border: none;
  transition: padding 0.3s ease, background 0.3s ease;
  font-size: var(--normal-font-size);
}

.btn:hover {
  padding-inline: 2.8rem;
}

.about {
  display: grid;
}

.about__content {
  position: relative;
  height: 100%;
  min-width: 250px;
  padding: 1rem;
}

.about__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: sticky;
  top: 10rem;
}

.about__subtitle {
  min-width: 250px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.about__btn {
  margin-top: 2rem;
  display: none;
}

/* CARDS ANIMATION*/

.about__wrapper {
  width: 100%;
  margin: 3rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--stacked-card-count), 1fr);
  gap: var(--card-stack-overlap-gap);
  padding-bottom: calc(
    var(--stacked-card-count) * var(--card-offset-top-inside)
  );
  position: relative;
}

.about__card:first-child {
  --index: 1;
  background-color: var(--first-card);
  top: 6rem;
}

.about__card:nth-child(2) {
  --index: 2;
  background-color: var(--second-card);
  top: 7rem;
}

.about__card:nth-child(3) {
  --index: 3;
  background-color: var(--third-card);
  top: 8rem;
}

.about__card:last-child {
  --index: 4;
  background-color: var(--fourth-card);
  top: 9rem;
}

.card {
  --scale: calc(1 - var(--index) * 0.02);

  transform: scale(var(--scale));

  /* height: var(--stacked-card-height); */
  height: 100%;
  width: 75vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  position: sticky;
  z-index: 1;
  place-self: center;
  min-width: 250px;
  max-width: 400px;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  gap: 1rem;
  align-items: center;
  color: var(--white-color);
  text-align: center;
  opacity: 0;
}

.about__card-body {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .about__card-body {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

.card.animate {
  animation: fade-in-up 0.8s ease-out forwards;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .about__card:nth-child(3) {
  color: #2c2c2c;
} */

.about__card-header {
  font-size: 1rem;
}

.about__card-body {
  font-size: 1rem;
}

.about__card-icon i {
  font-size: 2rem;
}

/* MAIN FEATURE */

.feature {
  /* height: 100vh; */
  position: relative;
  margin-bottom: 5rem;
}

.feature__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.feature__steps {
  min-width: 250px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-inline: 4rem; */
  position: relative;
  margin: 3.5rem auto;
}

.feature__steps .feature__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #d2f3e7;
  color: #dda2a1;
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  background-color: var(--white-color);
  transition: all 0.2s ease;
  transition-delay: 0s;
}

.feature__steps .feature__circle.active {
  transition-delay: 100ms;
  border-color: var(--first-card);
}

.feature__steps .feature__progress-bar {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #d2f3e7;
  z-index: -1;
}

.feature__progress-bar .feature__indicator {
  position: absolute;
  height: 100%;
  width: 0;
  background-color: #389b77;
  transition: all 0.3s ease;
}

.feature__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.feature__buttons button {
  display: flex;
  padding: 1rem 2rem;
  color: var(--white-color);
  background: var(--btn-gradient);
  border-radius: 5px;
  border: none;
  font-size: var(--normal-font-size);
  width: 40%;
  justify-content: center;
  transition: width 0.3s;
  cursor: pointer;
}

.feature__buttons button:hover {
  width: 50%;
}

button:disabled {
  background: var(--primary-disabled);
  cursor: not-allowed;
}

.go-back-btn {
  cursor: pointer;
}

/* FORM */

#successMessage {
  display: none;
  margin-top: 3rem;
  font-size: 2rem;
  color: var(--primary);
  /* position: fixed;
  top: 50%; */
  width: 100%;
  position: relative;
  animation: fade-in-up 0.8s ease-out forwards;
}

#successMessage i {
  font-size: var(--h3-font-size);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
}

#successMessage p {
  font-size: var(--h3-font-size);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  margin-top: 4rem;
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#successMessage button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 12rem;
}

@media (min-width: 504px) {
  #successMessage p {
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

@media (min-width: 668px) {
  /* #successMessage button {
    margin-top: 14rem;
  } */
}

@media (min-width: 918px) {
  #successMessage button {
    margin-top: 12rem;
  }
}

/* @media (min-width: 895px) {
  #successMessage button {
    margin-top: 13rem;
  }
} */

/* @media (min-width: 909px) {
  #successMessage button {
    margin-top: 12rem;
  }
} */

#feature__form {
  max-width: 900px;
  margin: auto;
}

legend {
  color: var(--secondary);
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
}

fieldset.step {
  padding: 1rem;
  border: 2px solid var(--first-card);
  display: none;
}

fieldset.step.active {
  display: block;
  animation: fade-in-up 0.6s ease-out forwards;
}

#feature__form {
  min-width: 250px;
}

.fieldset__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  gap: 2rem;
  position: relative;
}

.custom-checkbox {
  display: flex;
  width: 150px;
  cursor: pointer;
  color: var(--secondary);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  text-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .custom-checkbox {
    width: initial;
  }
}

.optionalChoices {
  /* color: var(--on-surface); */
  position: relative;
  margin-top: 0.5rem;
  display: flex;
  /* align-items: flex-start; */
  cursor: pointer;
  color: var(--secondary);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  /* margin-inline: auto; */
  align-items: center;
  width: 100%;
}
.optionalChoices input {
  display: none;
}

.optionalChoices i {
  margin-left: 0.5rem;
}

.optionalChoices input:checked + .checkmark::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid var(--first-card);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.info-icon {
  font-size: 1.5rem;
  color: var(--primary);
}

.optionalChoices::after {
  position: absolute;
  content: attr(data-tooltip);
  top: 100%;
  left: 69%;
  transform: translateY(-50%);
  background-color: var(--primary);
  color: var(--white-color);
  width: max-content;
  padding: 0.2rem 1rem;
  border-radius: 4px;
  transition: all 0.4s cubic-bezier(0.47, 2, 0.41, 1.5),
    visibility 0.3s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  white-space: nowrap;
}

.optionalChoices:hover::after,
.optionalChoices.active::after {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.custom-checkbox input:checked ~ .optionalChoices::after {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.list-summary {
  list-style: none;
}

.list-summary input {
  padding: 0.5rem 1rem;
  border: 2px solid var(--secondary);
}

/* .list-summary input:focus {
  
} */

/* .custom-checkbox:not(:last-child) {
  margin-bottom: 1rem;
} */

@media (min-width: 768px) {
  .fieldset__wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}

.fieldset__wrapper-summary {
  flex-direction: column;
}

.apiLabel {
  display: none;
  /* align-items: center; */
}

.apiLabel i {
  margin-right: 0.2rem;
}

.apiLabel span:first-of-type {
  margin-right: 0.5rem;
}

.custom-checkbox input {
  display: none;
}

.checkmark {
  width: 18px;
  height: 18px;
  border: 2px solid var(--primary);
  margin-right: 10px;
  border-radius: 4px;
  position: relative;
}

.custom-checkbox input:checked + .checkmark::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid var(--first-card);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .card-list {
    align-items: flex-start;
  }
}
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
}

.list-summary {
  color: var(--secondary);
  font-size: var(--h3-font-size);
  /* font-weight: var(--font-semi-bold); */
  width: 100%;
}
.list-summary:not(:last-child) {
  margin-bottom: 0.5rem;
}

.btn__summary {
  padding: 0.5rem 1rem;
  cursor: pointer;
  height: max-content;
}

.btn__summary:hover {
  padding: 0.5rem 1rem;
  /* margin-top: 0.5rem; */
}

.summary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#next,
#confirmBtn {
  position: relative;
}

#next::after,
#confirmBtn::after {
  position: absolute;
  content: attr(data-tooltip);
  inset: -45% auto auto 50%;
  translate: -50%;
  padding: 0.25rem 0.75rem;
  background-color: #d4413e;
  color: #fff;
  border-radius: 0.25rem;
  transition: inset 0.4s cubic-bezier(0.47, 2, 0.41, 1.5),
    visibility 0.3s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  width: max-content;
}

#next:disabled:hover::after {
  opacity: 1;
  visibility: visible;
  inset-block-start: -80%;
}

#confirmBtn:disabled:hover::after {
  opacity: 1;
  visibility: visible;
  inset-block-start: -95%;
}

dialog {
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  animation: fade-in-up 0.8s ease-out forwards;
  min-width: 250px;
  width: 600px;
}

dialog[open] {
  opacity: 1;
  transform: scale(1);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.personal-data-field {
  border: none;
}

.personal-data-wrapper {
  flex-direction: column;
}

.personal-data-legend {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.personal-data-wrapper label {
  width: 100%;
}

.personal-data-wrapper label input {
  border: 1px solid var(--primary);
  display: block;
  margin-top: 0.5rem;
  width: 100%;
  padding: 1rem 1.5rem;
}

.personal-data-wrapper label input::placeholder {
  color: #8f8f8f;
}

.personal-data-wrapper label textarea {
  width: 100%;
  min-height: 200px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.4;
  border: 1.5px solid var(--primary);
  border-radius: 8px;
  resize: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: inherit;
  width: 100%;
  margin-top: 0.5rem;
}

.modal-buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.modal-buttons button {
  width: 50%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  height: max-content;
}

.modal-buttons button:hover {
  padding: 0.5rem 1rem;
}

/* REVIEWS */

.reviews {
  /* height: 100vh; */
  /* padding-top: 15rem; */
  margin-bottom: 5rem;
}

.padding-top {
  padding-top: 18rem;
}

@media (min-width: 1137px) {
  .padding-top {
    padding-top: 20rem;
  }
}

/* @media (min-width: 1135px) {
  .padding-top {
    padding-top: 15rem;
  }
} */

.reviews__title {
  margin-bottom: 1rem;
}

/* @media (min-width: 992px) {
  .reviews__title {
    margin-top: 5rem;
  }
} */

.reviews__subtitle {
  margin-bottom: 1rem;
}

.reviews__card {
  height: 15vh;
  width: 65vw;
  padding: 2rem;
  display: flex;
  /* flex-direction: column; */
  border-radius: 28px;
  min-width: 250px;
  max-width: 400px;
  gap: 1rem;
  align-items: center;
  color: var(--white-color);
  text-align: center;
  place-self: center;
  position: relative;
}

.reviews__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .reviews__text {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

.reviews__author {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.reviews-card-1 {
  background-color: var(--first-card);
}

.reviews-card-2 {
  background-color: var(--second-card);
}

.reviews-card-3 {
  background-color: var(--third-card);
}

.reviews-card-4 {
  background-color: var(--fourth-card);
}

.reviews__images {
  align-self: end;
}

.reviews__card img {
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  position: absolute;
  z-index: var(--z-fixed);
  left: -28px;
  top: -22px;
  border: 10px double var(--white-color);
}

/* .first-reviews-img {
  object-position: 0% 10%;
} */

.reviews__card i {
  font-size: 2rem;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  margin-left: 2rem;
}

/* SWIPER */

.swiper {
  min-width: 250px;
  max-width: 600px;
  height: 400px;
}

.swiper-slide {
  scale: 0.8;
  transition: scale 0.3s;
}

.swiper-slide-active {
  scale: 1;
  z-index: var(--z-fixed);
}

.swiper-button-prev,
.swiper-button-next {
  top: initial;
  bottom: 1rem;
  /* width: 2rem;
  height: 2rem; */
  font-size: 4rem;
  padding: 1.5rem;
  border-radius: 50%;
  color: var(--primary-disabled);
  transition: color 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--first-card);
}

.swiper-button-prev {
  left: calc(50% - 5rem);
}

.swiper-button-next {
  right: calc(50% - 5rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

@media (min-width: 768px) {
  .swiper-slide {
    scale: 0.8;
    transition: scale 0.3s;
  }

  .swiper-slide-active {
    scale: 1.1;
    z-index: var(--z-fixed);
  }

  .swiper-button-prev,
  .swiper-button-next {
    bottom: 0rem;
  }
}

/* FOOTER */

.footer {
  background-color: var(--footer-color);
  padding: 2rem;
  color: var(--primary);
  gap: 2rem;
  margin-top: 5rem;
}

.footer__wrapper {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer__logo-img {
  width: 150px;
}

.footer__middle h3 {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--h3-font-size);
}

.footer__link {
  position: relative;
  transition: color 0.3s;
}

.footer__link:hover {
  color: var(--primary-hover);
}

.footer__link::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--primary);
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.footer__link:hover::after {
  width: 70%;
}

.footer__social {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  /* margin-top: 1rem; */
  margin-bottom: 2rem;
}

@media (min-width: 815px) {
  .footer__social {
    flex-direction: row;
  }
}

.footer__social li {
  flex-basis: 4.5rem;
}

.footer__social a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-size: 1rem;
  border: 1px solid var(--primary);
  border-radius: 50%;
  /* padding: 1rem; */
  overflow: hidden;
  transition: color 0.3s ease-in-out;
  width: 50px;
  height: 50px;
  margin-top: 1rem;
}

.footer__social a > i {
  position: relative;
  z-index: 1;
}

.footer__social a:hover {
  color: var(--white-color);
}

.footer__social a::after {
  position: absolute;
  content: '';
  inset: 100% 0 0;
  background-color: var(--primary);
  pointer-events: none;
  transition: inset 0.3s ease-in-out;
}

.footer__social a:hover::after {
  inset-block-start: 0;
}

.footer__right {
  width: 100%;
}

/* SCROLL UP */

.scrollup {
  position: fixed;
  right: -100%;
  bottom: 3rem;
  background-color: rgba(110, 164, 143, 0.8);
  padding: 6px;
  display: inline-flex;
  color: var(--white-color);
  font-size: 1.25rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  z-index: var(--z-fixed);
  transition: right 0.3s, transform 0.3s;
  box-shadow: var(--shadow);
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

.show-scroll {
  right: 1rem;
}

/* BREAKPOINTS */

/* FOR LARGE DEVICES */

@media (min-width: 1150px) {
  .container {
    margin: 0 auto;
  }

  .feature {
    margin-bottom: 5rem;
  }

  .nav__toggle {
    display: none;
  }

  .nav__menu {
    width: initial;
  }

  .nav__list {
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
  }

  .hero {
    height: 75vh;
  }

  .about {
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
  }

  .about__content {
    padding-bottom: 8rem;
  }

  .about__wrapper {
    margin-top: 0;
  }

  .about__btn {
    display: inline-block;
  }
}
